version: '3.8'

services:
  # The Python Sync Service
  sync-engine:
    build: .
    container_name: ledger_sync_engine
    restart: always
    ports:
      - "8000:8000"
    environment:
      - RDS_HOST=host.docker.internal # Points to localhost of your machine
      - RDS_PORT=5432
      - RDS_USER=postgres
      - RDS_PASSWORD=Ledger-master-db123
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_PASSWORD=Manil@81125
      - REDIS_HOST=redis
    depends_on:
      - redis
      - neo4j
    networks:
      - ledger-net

  # Redis for checkpoints
  redis:
    image: redis:alpine
    container_name: ledger_redis
    ports:
      - "6379:6379"
    networks:
      - ledger-net

  # Neo4j Graph DB
  neo4j:
    image: neo4j:5.16.0
    container_name: ledger_neo4j
    environment:
      - NEO4J_AUTH=neo4j/Manil@81125
    ports:
      - "7474:7474"
      - "7687:7687"
    networks:
      - ledger-net

networks:
  ledger-net:
    driver: bridge